<!-- admin login page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>

<body>
    <h1>Admin Login</h1>
    <form id="admin-login-form" action="#">
        <label for="admin-username">Admin Username:</label>
        <input type="text" id="admin-username" name="admin-username" required><br><br>
        
        <label for="admin-password">Admin Password:</label>
        <input type="password" id="admin-password" name="admin-password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
