{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>
{% block content %}
<body>
<div class="main-menu-container">
    <h1 class="main-menu-title">IT-4320 Trip Reservation System</h1>
    <h2>Welcome to the IT-4320 reservation system. Use the select box to choose whether to make a reservation or log in as administrator.</h2>
    {% if error_message %}
    <div class="error-message">
        <p>{{ error_message }}</p>
    </div>
    {% endif %}
    <form id="main-menu-form" class="menu-form" method="post" action="">
        <select id="option" name="option">
            <option value="">Choose an option</option>
            <option value="reservations">Make a Reservation</option>
            <option value="admin">Admin Login</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
{% endblock %}